<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <appSettings>
        <!-- Configurações da Empresa -->
        <add key="EmpresaNome" value="MADEIREIRA MARIA LUIZA" />
        <add key="EmpresaEndereco" value="Av. Dr. Olíncio Guerreiro Leite - 631-Paq Amadeu-Paulista-PE-55431-165" />
        <add key="EmpresaTelefone" value="(81) 98570-1522" />
        <add key="EmpresaCNPJ" value="48.905.025/001-61" />
        <add key="EmpresaWhatsApp" value="(81) 98570-1522" />
        <add key="EmpresaInstagram" value="@madeireiramaria" />
        
        <!-- Configurações Padrão -->
        <add key="CidadePadrao" value="Paulista" />
        <add key="CEPPadrao" value="55431-165" />
        <add key="VendedorPadrao" value="matheus-testuser3" />
        
        <!-- Configurações de Impressão -->
        <add key="TamanhoFonte" value="10" />
        <add key="TamanhoFonteTitulo" value="16" />
        <add key="OrientacaoImpressao" value="Paisagem" />
        <add key="TamanhoPapel" value="A4" />
        
        <!-- Configurações do Sistema -->
        <add key="BackupAutomatico" value="true" />
        <add key="DiretorioBackup" value="C:\SistemaPDV\Backup" />
        <add key="HistoricoVendas" value="true" />
        <add key="DiretorioHistorico" value="C:\SistemaPDV\Historico" />
    </appSettings>
</configuration>