<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <!-- Configurações da Madeireira -->
    <appSettings>
        <!-- Dados da Empresa -->
        <add key="NomeMadeireira" value="Madeireira Maria Luiza" />
        <add key="EnderecoMadeireira" value="Rua Principal, 123 - Centro" />
        <add key="CidadeMadeireira" value="Paulista/PE" />
        <add key="CEPMadeireira" value="53401-445" />
        <add key="TelefoneMadeireira" value="(81) 3436-1234" />
        <add key="CNPJMadeireira" value="12.345.678/0001-90" />
        <add key="EmailMadeireira" value="contato@madeireiramaria.com.br" />
        <add key="SiteMadeireira" value="www.madeireiramaria.com.br" />
        
        <!-- Configurações do Sistema -->
        <add key="VendedorPadrao" value="matheus-testuser3" />
        <add key="ImpressoraDefault" value="" />
        <add key="VerificaDependenciasStartup" value="true" />
        
        <!-- Configurações do Excel -->
        <add key="ExcelVisivel" value="false" />
        <add key="SalvarTalaoTemporario" value="false" />
        <add key="TimeoutExcel" value="30000" />
        <add key="HabilitarVBA" value="true" />
        <add key="FecharExcelAutomatico" value="true" />
        
        <!-- Configurações de Banco -->
        <add key="UsarBancoAccess" value="false" />
        <add key="ConexaoBanco" value="" />
        <add key="TimeoutBanco" value="30" />
        <add key="PoolingConexoes" value="true" />
        
        <!-- Configurações de Backup -->
        <add key="CaminhoBackup" value="C:\Backup\PDV\" />
        <add key="AutoBackupEnabled" value="true" />
        <add key="AutoBackupIntervalHours" value="24" />
        <add key="ManterBackupDias" value="30" />
        
        <!-- Configurações de Log -->
        <add key="LogLevel" value="Info" />
        <add key="MaxLogFiles" value="30" />
        <add key="LogToConsole" value="true" />
        <add key="LogToFile" value="true" />
        
        <!-- Configurações de Cache -->
        <add key="CacheEnabled" value="true" />
        <add key="CacheExpirationMinutes" value="60" />
        <add key="LimpezaCacheMinutos" value="5" />
        
        <!-- Configurações de Performance -->
        <add key="EnablePerformanceMonitoring" value="false" />
        <add key="MaxConcurrentOperations" value="5" />
        <add key="EnableParallelProcessing" value="true" />
        
        <!-- Configurações de Interface -->
        <add key="TemaInterface" value="Moderno" />
        <add key="ValidacaoTempoReal" value="true" />
        <add key="MostrarTooltips" value="true" />
        <add key="SomNotificacoes" value="true" />
        
        <!-- Configurações de Segurança -->
        <add key="RequererConfirmacaoExclusao" value="true" />
        <add key="BackupAntesMudancas" value="true" />
        <add key="LogOperacoesCriticas" value="true" />
        
        <!-- Configurações de Desenvolvimento -->
        <add key="ModoDebug" value="false" />
        <add key="MostrarErrosDetalhados" value="false" />
        <add key="PermitirTestesAutomaticos" value="true" />
        
        <!-- Configurações de Integração -->
        <add key="IntegracaoWebService" value="false" />
        <add key="URLWebService" value="" />
        <add key="TimeoutWebService" value="10000" />
        <add key="ConsultarCEPAutomatico" value="true" />
        
        <!-- Configurações de Relatórios -->
        <add key="CaminhoRelatorios" value="C:\PDV\Relatorios\" />
        <add key="FormatoRelatorioDefault" value="PDF" />
        <add key="IncluirLogoRelatorios" value="true" />
        
        <!-- Configurações de Notificações -->
        <add key="NotificarEstoqueBaixo" value="true" />
        <add key="NotificarErrosCriticos" value="true" />
        <add key="EmailNotificacoes" value="" />
    </appSettings>
    
    <!-- Configurações de Connection Strings -->
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PDV_Database.accdb;Persist Security Info=False;" 
             providerName="System.Data.OleDb" />
        <add name="BackupConnection" 
             connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PDV_Backup.accdb;Persist Security Info=False;" 
             providerName="System.Data.OleDb" />
    </connectionStrings>
    
    <!-- Configurações de Runtime -->
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71e9bce111e9429c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
        
        <!-- Configurações de Garbage Collection -->
        <gcServer enabled="false" />
        <gcConcurrent enabled="true" />
    </runtime>
    
    <!-- Configurações de System.Net -->
    <system.net>
        <defaultProxy useDefaultCredentials="true" />
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="false" />
        </settings>
    </system.net>
</configuration>