<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="NomeMadeireira" value="Madeireira Maria Luiza" />
        <add key="EnderecoMadeireira" value="Rua Principal, 123 - Centro" />
        <add key="CidadeMadeireira" value="Paulista/PE" />
        <add key="CEPMadeireira" value="53401-445" />
        <add key="TelefoneMadeireira" value="(81) 3436-1234" />
        <add key="CNPJMadeireira" value="12.345.678/0001-90" />
        <add key="VendedorPadrao" value="matheus-testuser3" />
        <add key="ImpressoraDefault" value="" />
        <add key="ExcelVisivel" value="false" />
        <add key="SalvarTalaoTemporario" value="false" />
    </appSettings>
</configuration>